@tailwind base;

@tailwind components;

@tailwind utilities;

textarea,
select,
input,
img,
button {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:focus {
  outline-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  outline-style: none;
}

.hero-container {
  padding: 1px;
}

.btn {
  font-family: "Fraunces";
  background: #0e8784;
  padding: 16px 32px;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #fefcf7;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 608px;
}

.degradado-text {
  font-size: 2.5rem;
  color: transparent;
  font-family: "Fraunces";
  text-align: center;
  font-weight: bold;
  background: rgb(151, 151, 151);
  background: linear-gradient(
    0deg,
    rgba(151, 151, 151, 1) 10%,
    rgba(255, 255, 255, 1) 83%
  );
  -webkit-background-clip: text;
}

.skill-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 609px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.103);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.125) 10%,
    rgba(255, 255, 255, 1) 49%
  );
}

.circulo {
  height: 30px;
  width: 30px;
  background: #e4e4e4;
  border-radius: 30px;
  border: 2px solid #0e8784;
}

.linea {
  border-top: 2px solid #fdd6ba;
  left: 0;
  top: 15px;
  width: 71%;
  position: absolute;
  z-index: -99;
}
